*{
  padding:0px;
  margin: 0px;
  text-decoration: none;
}    

body {
      font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 2em;
      min-width: 230px;
      margin: 0 auto;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      font-weight: 300;
      background: linear-gradient(-45deg, #E73C7E, #23A6D5);
      background-attachment: fixed;
      overflow:hidden;
      /* max-width: 500px; 
      width: 100wh;
      height: 100 vh; 
      height:100%;
      background-size: 200%; 
      background-repeat: no-repeat;
      background: linear-gradient(-45deg, #E73C7E, #23A6D5);
      height: 100%;
      background: linear-gradient(-45deg,#070000 ,#4C0001);
      background-size: 200%;
      -webkit-animation: Gradient 30s ease infinite;
      -moz-animation: Gradient 30s ease infinite;
      animation: Gradient 30s ease infinite; */
  }
/* 
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  } */

/* <!-----------------------------HEADER STARTS HERE ------------------------------------> */

header ul{
  padding: 10px;
  margin: 0 0 0px 0px;
  background:rgba(0,0,0,0.5);
  /* border: 1px solid red; */
  text-align: right;
}
header li{
  display: inline;
  padding: 0px 10px 0px 10px;
  /* border: 1px solid red; */
  background-color: transparent;
}

header ul li a{
  color:white;
  text-decoration: none;
  /* border: 1px solid green; */
}
header ul li a:hover{
  background-color:black;
  /* border: 1px solid green; */
}

/* <!--------------------------login and signup page -------------------------> */

*,
:before,
:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.wrapper{
    min-width: 230px;
    max-width: 500px;
    margin: 45px auto;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5),0px 1px 1px -3px rgba(0, 0, 0, 0.5), 0px 2px 2px -6px rgba(0, 0, 0, 0.5);
  }


.wrapper form {
    width: 320px;
    margin: 45px auto;
 }

.group {
    position: relative;
    margin: 45px 0;
}

.group input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

input:focus{
   outline: none;
}

input:focus ~ label, input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

input:focus ~ .bar:before{
   width: 320px;
}

input[type="password"] {
   letter-spacing: 0.3em;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}
.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
}

label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

.btn-box {
    text-align: center;
    margin: 40px 0;
}

.button {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    margin: 2px 2px 2px 2px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.button.btn-submit {
    background: #2196F3;
    color: #bce0fb;
}
.button.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}


/* <!------------------------------main page starts here--------------------------> */
h2 {
    font-family: 'Open Sans';
    top: 0px;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    color:black;
    opacity: 0.5;
    /* text-align: center;
    font-size: 50px;
    font-weight: 50px;
    color: red;
    opacity: 0.1; */
    /* color: rgba(175, 47, 47, 0.15); */
  }

#app {
    margin: 0px 40px 40px 0px;
    display:flex;
    /* border-radius: 10px; */
    height:100vh;
    overflow:hidden;
    /* overflow-y: hidden; */
   /* background: #fff; */
   /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.5), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.5);*/
   /* justify-content: space-between; */
  }

/* <!-----------left-side-bar----------------------> */

#app .left-side-bar{
    z-index: 1;
    left: 0;
    display:flex;
    width: 240px;
    flex-direction: column;
    height:100vh;
    background:rgba(0,0,0,0.3);
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5),0px 1px 1px -3px rgba(0, 0, 0, 0.5), 0px 2px 2px -6px rgba(0, 0, 0, 0.5); */
    /* background-color: #111; */
    /* border: 1px solid red; */
}

.sidebarItem {
  overflow: hidden;
  height: 38px;
  z-index: 15;
  position: relative;
}

.left-side-bar .lists-scroll{
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#filterbar{
  border-bottom: 1px dashed black;
}

#app .left-side-bar .category .list{
  text-decoration: none;
  list-style-type: none;
}

.sidebarItem .list-icon {
  height: 20px;
  width: 20px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  padding: 0;
}

.sidebarItem a{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  color: #1c1c1c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* display: -webkit-box; */
  display: -moz-box;
  /* display: -webkit-flex; */
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}

.sidebarItem a .title,.list-icon .fa {
font-size: 15px;
font-weight: 400;
white-space: nowrap;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
color: #262626;
-webkit-box-flex: 1;
-moz-box-flex: 1;
-o-box-flex: 1;
box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
padding-left: 6px;
padding-right: 6px;
}


.list-icon .fa-star-o{
  color: yellowgreen;
}


.sidebarItem a .count {
  color: #bdbcbb;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
}

.sidebarItem a .del {
  cursor: pointer;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  z-index: 25;
  height: 20px;
  width: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
/* <!-----------right-side-bar----------------------> */

#app .right-side-bar{
    margin:0 auto;
    width:80%;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);         */
    /* border: 1px solid red; */
  }
#app .right-side-bar .main{
    max-height:95%;
    /* border:1px solid red; */
    overflow:auto;
    /* overflow:auto; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);        
    /* border: 1px solid red; */
  }


.new-todo{
    background: rgba(0, 0, 0, 0.003);
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
  }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.3;
    font : sans-serif;
  }

::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.3;
    font : sans-serif;
  }

:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.3;
    font : sans-serif;
  }

:-moz-placeholder { /* Firefox 18- */
    opacity: 0.3;
    font : sans-serif;
  }

/* #app ul {
    display: block;
    list-style-type: none;
    padding: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    position: relative;
    z-index: 2;
  } */
/* 
#app ul li {
    position: relative;
    font-size: 18px;
    display: list-item;
    padding: 10px;
    border-radius: 10px;
  } */

/* #app ul li:hover{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
  }   */

/* #app ul li span{
    font-size:  25px;
    font-family: cursive;
    cursor:pointer;    
  } */

.btn{
      position: absolute;
      display: inline-block;
      right: 0px;      
  }

.imp{
    right: 0px;
    top:0px;
    bottom: 0px;
    font-size:  20px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

.important{
    font-size:  20px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color:yellowgreen;
    transition: 1s;
  }

.del{ 
    right: 0px;
    top:0px;    
    bottom: 0px;
    font-size:  15px;
    background-color: inherit;
    border: none;
    cursor: pointer;      
  }

.del:hover{
    color: red;
  }

.completed {
    opacity: 0.6;
    text-decoration: line-through;
  }


